body {
    background-color: rgb(190, 220, 255);
}

h1 {
    text-align: center;
}

.animation1 {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation-name: animation1_frames;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animation1_frames {
    0%   {background-color: black; left: 5%; top: 20px; }
    25%  {background-color: red; left: 15%; top: 20px; transform: rotate(90deg);}
    50%  {background-color: green; left: 25%; top: 20px; transform: rotate(180deg);}
    75%  {background-color: blue; left: 35%; top: 20px; transform: rotate(270deg);}
    100% {background-color: black; left: 45%; top: 20px; transform: rotate(360deg);}
}

.animation2 {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation-name: animation2_frames;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 75px;
}

@keyframes animation2_frames {
    0%   {background-color: black; left: 85%; top: 20px; }
    25%  {background-color: red; left: 75%; top: 20px; transform: rotate(-90deg);}
    50%  {background-color: green; left: 65%; top: 20px; transform: rotate(-180deg);}
    75%  {background-color: blue; left: 55%; top: 20px; transform: rotate(-270deg);}
    100% {background-color: black; left: 45%; top: 20px; transform: rotate(-360deg);}
}