body {
    background-color: rgb(190, 220, 255);
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
}

header {
    border-bottom: solid;
}

nav {
    float: left;
    width: 10%;
    height: 100%;
    min-height: 810px;
    border-right: solid;
}

iframe {
    height: 800px; 
    width: 89%;
    border: none;
    padding-top: 5px;
    padding-left: 15px;
}

.link_icon {
    width: 60px;
    height: 60px;
    margin: 10px;
    margin-top: 40px;
}

.animation1 {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation-name: animation1_frames;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animation1_frames {
    0%   {background-color: black; left: 7%; top: 20px; }
    25%  {background-color: red; left: 17%; top: 20px; transform: rotate(90deg);}
    50%  {background-color: green; left: 27%; top: 20px; transform: rotate(180deg);}
    75%  {background-color: blue; left: 37%; top: 20px; transform: rotate(270deg);}
    100% {background-color: black; left: 47%; top: 20px; transform: rotate(360deg);}
}

.animation2 {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation-name: animation2_frames;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 75px;
}

@keyframes animation2_frames {
    0%   {background-color: black; left: 87%; top: 20px; }
    25%  {background-color: red; left: 77%; top: 20px; transform: rotate(-90deg);}
    50%  {background-color: green; left: 67%; top: 20px; transform: rotate(-180deg);}
    75%  {background-color: blue; left: 57%; top: 20px; transform: rotate(-270deg);}
    100% {background-color: black; left: 47%; top: 20px; transform: rotate(-360deg);}
}

.main_menu_layout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_menu_button_list {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 37%;
}

.main_menu_button {
    background-color: rgb(110, 150, 200);
    border: none;
    font-size: 15px;
    width: 100%;
    padding: 12px 170px;
    margin-top: 5px;
}

.main_menu_button:hover {
    background-color: rgb(140, 140, 140);
}

.page_section_button_list {
    display: flex;
    flex-direction: column;
}

.page_section_button {
    background-color: rgb(190, 220, 255);
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 5px;
    margin-top: 10px;
    text-align: left;
    width: 95%;
}

.page_section_button:hover {
    background-color: rgb(110, 150, 200);
}

.page_header {
    font-size: 50px;
}